/*#region icon font ----------------------------------*/

@font-face {
    font-family: 'fontello';
    src: url('/font/fontello.eot?6982622');
    src: url('/font/fontello.eot?6982622#iefix') format('embedded-opentype'),
    url('/font/fontello.woff2?6982622') format('woff2'),
    url('/font/fontello.woff?6982622') format('woff'),
    url('/font/fontello.ttf?6982622') format('truetype'),
    url('/font/fontello.svg?6982622#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6982622#fontello') format('svg');
  }
}
*/
[class^="icon--"]:before, [class*=" icon--"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon--cog-outline:before { content: '\e800'; } /* '' */
.icon--trash:before { content: '\e801'; } /* '' */
.icon--key-outline:before { content: '\e802'; } /* '' */
.icon--cancel:before { content: '\e803'; } /* '' */
.icon--logout:before { content: '\e804'; } /* '' */
.icon--lock:before { content: '\e805'; } /* '' */
.icon--ok:before { content: '\e807'; } /* '' */

/*#endregion icon font -------------------------------*/

/*#region Common -------------------------------------*/

* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    font: 400 1.4rem / 1.4 'Manrope', Arial, sans-serif;
    color: black;
}

.container{
    width: 96rem;
    padding: 0 2rem;
    margin: 0 auto;
}

/*#endregion Common ----------------------------------*/

/*#region Page ---------------------------------------*/

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page__header{
    margin: 0 0 3rem;
}

.page__main{
    flex: 1 0 auto;
    margin: 0 0 2rem;
}

/*#endregion Page ------------------------------------*/

/*#region logo ---------------------------------------*/

.logo{
    display: inline-block;
    width: 18rem;
}

.logo__img{
    display: block;
    width: 100%;
}

/*#endregion logo ------------------------------------*/

/*#region header -------------------------------------*/

.header{
    padding: 2rem 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.header__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__settings{
    margin: 0 0 0 auto;
}

/*#region header -------------------------------------*/

/*#region footer -------------------------------------*/

.footer{
    padding: 2.5rem 0;
    background: rgba(0,0,0,.04);
    color: darkgrey;
}

.footer__logo{
    width: 9rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .4;
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*#endregion footer ----------------------------------*/

/*#region main ---------------------------------------*/

/*#endregion main ------------------------------------*/

/*#region helpers ------------------------------------*/

.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mx-auto{
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

/*#endregion helpers ---------------------------------*/

/*#region btn ----------------------------------------*/

.btn{
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    padding: .9em 1.6em;
    background: darkgrey;
    border-radius: .6rem;
    border: none;
    text-decoration: none;
}

.btn--size--big{
    font-size: 1.8rem;
}

.btn--size--small{
    font-size: 1.4rem;
}

.btn--style--default{
    background-color: #FF156F;
    color: white;
    transition: background-color ease .3s;
}

.btn--style--default:hover{
    background-color: #ff428b;
}

.btn--style--outline{
    background-color: transparent;
    color: black;
    box-shadow: inset 0 0 0 .2rem black;
    transition: background-color ease .3s, color ease .3s, box-shadow ease .3s;
}

.btn--style--outline:hover{
    background-color: black;
    color: white;
}

.btn__icon{
    margin: 0 .5em 0 -.25em;
    font-size: 1.2em;
    line-height: 1;
}

/*#endregion btn -------------------------------------*/

/*#region auth-bar -----------------------------------*/

.auth-bar{
    width: 34rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-bar__btn{
    text-transform: uppercase;
}

/*#endregion auth-bar --------------------------------*/

/*#region modal --------------------------------------*/

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity ease .3s;
}

.modal--active{
    opacity: 1;
    visibility: visible;
}

.modal__main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 1.5rem;
    width: 40rem;
    padding: 3rem;
}

.modal__header{
    position: relative;
    margin: 0 0 2em;
    padding: 0 0 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.modal__title{
    font-size: 2rem;
    margin: 0;
    padding: .4rem 5rem .4rem 0;
}

.modal__close{
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: inset 0 0 0 0.2rem #ff156f;
    color: #ff156f;
    font-size: 1.6rem;
    border-radius: .6rem;
    cursor: pointer;
}

/*#endregion modal -----------------------------------*/

/*#region form ---------------------------------------*/

.form__group{
    margin: 0 0 3rem;
}

.form__row{
    display: block;
    margin: 0 0 1rem;
}

.form__text-control{
    display: block;
    width: 100%;
}

/*#endregion form ------------------------------------*/

/*#region text control -------------------------------*/

.text-control{
    font-family: inherit;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: .4rem;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.2);
    transition: border ease .3s;
    outline: none;
}

.text-control--area{
    resize: vertical;
    min-height: 8rem;
}

.text-control::placeholder{
    color: darkgrey;
}

.text-control:focus{
    border: 1px solid rgba(0,0,0,.6);
}

/*#endregion text control ----------------------------*/

/*#region control bar --------------------------------*/

.control-bar{
    display: flex;
    gap: 1rem;
}

.control-bar--layout--1{
    justify-content: center;
    align-items: center;
}

.control-bar--layout--2{
    justify-content: space-between;
}

.control-bar--layout--1 .control-bar__btn{
    flex: 1 0 auto;
}

/*#endregion control bar -----------------------------*/

/*#region note ---------------------------------------*/

.note__header{
    margin: 0 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note__date{
    color: darkgrey;
}

.note__form .form__group{
    margin: 0 0 2rem;
}

/*#endregion note ------------------------------------*/

/*#region checkbox -----------------------------------*/

.checkbox__label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__item{
    display: none;
}

.checkbox__switch{
    display: block;
    width: 3rem;
    height: 1.8rem;
    background-color: crimson;
    border-radius: .9rem;
    margin-right: 1rem;
    position: relative;
    transition: background-color ease .3s;
}

.checkbox__item:checked ~ .checkbox__switch{
    background-color: green;
}

.checkbox__switch::before{
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    background-color: white;
    border-radius: .7rem;
    position: absolute;
    top: .2rem;
    left: .2rem;
    transition: left ease .3s;
}

.checkbox__item:checked ~ .checkbox__switch::before{
    left: calc(100% - 1.6rem);
}

.checkbox__text{
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/*#endregion checkbox --------------------------------*/

/*#region page title ---------------------------------*/

.page-title{
    font-size: 4rem;
    margin-bottom: 4rem;
}

/*#endregion page title ------------------------------*/

/*#region settings -----------------------------------*/

.settings{
    position: relative;
}

.settings__btn{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;
    cursor: pointer;
    border-radius: .4rem;
    border: none;
    transition: color ease .3s;
}

.settings__btn-icon{
    font-size: 2.8rem;
    line-height: 1;
}

.settings__btn-text{
    margin: 0 1.5rem 0 0;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.settings__btn-username{
    font-weight: 700;
    font-size: 1.6rem;
    display: block;
}

.settings__btn-user-id{
    font-size: 1.1rem;
    color: grey;
}

.settings:hover .settings__btn{
    color: #FF156F;
}

.settings__list{
    padding: .5rem .5rem;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 .3rem .8rem rgba(0,0,0,.3);
    width: 20rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease .3s;
    z-index: 10;
}

.settings:hover .settings__list{
    opacity: 1;
    visibility: visible;
}

.settings__list-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: .4rem;
    transition: background-color ease .3s;
}

.settings__list-btn:hover{
    background-color: rgba(0,0,0,.06);
}

.settings__list-icon{
    font-size: 1.8rem;
    margin: 0 .5em 0 0;
    color: #FF156F;
}

.settings__list-text{
    font-weight: 700;
}

.settings__list-btn--danger{
    background-color: #FF156F;
    color: white;
    margin: 1rem 0 0;
}

.settings__list-btn--danger .settings__list-icon{
    color: white;
}

.settings__list-btn--danger:hover{
    background-color: #ff428b;
}

/*#endregion settings --------------------------------*/

/*#region tip ----------------------------------------*/

.tip{
    position: absolute;
    left: 50%;
    top: 10rem;
    z-index: 100;
    transform: translateX(-50%);
    max-width: 40rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 13px;
}

.tip--ok{
    background-color: #3ba412;
    color: white;
}

.tip--info{
    background-color: #3878d8;
    color: white;
}

.tip--danger{
    background-color: #fc2548;
    color: white;
}

.tip--slideIn{
    animation: slideIn .7s;
}

.tip--slideOut{
    animation: slideOut .7s;
}

@keyframes slideIn {
    0% {
        top: -10rem;
    }
    100%{
        top: 10rem;
    }
}

@keyframes slideOut {
    0% {
        top: 10rem;
    }
    100%{
        top: -10rem;
    }
}

/*#endregion tip -------------------------------------*/

/*#region notes --------------------------------------*/

.notes{
    width: 60rem;
    margin: 0 auto;
}

.notes__item{
    margin: 0 0 5rem;
}

/*#endregion notes -----------------------------------*/