<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

<div class="page">

    <header class="header page__header">
        <div class="container header__container">
            <a href="/" class="logo header__logo">
                <img class="logo__img" src="/img/logo.svg" alt="Notes">
            </a>
        </div>
    </header><!--header-->

    <main class="main page__main d-flex-center">
        <div class="container main__container">

            <div class="auth-bar mx-auto">
                <button class="btn btn--style--default btn--size--big auth-bar__btn"
                        data-modal-id="login-modal">
                    Login
                </button>
                <button class="btn btn--style--outline btn--size--big auth-bar__btn"
                        data-modal-id="register-modal">
                    Register
                </button>
            </div>

        </div><!--container-->
    </main><!--main-->

    <%- include('./partials/footer.ejs') %>
</div>
<%- include('./partials/modalLogin.ejs') %>
<%- include('./partials/modalRegister.ejs') %>
<script src="/main.js"></script>
</body>
</html>