<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

<div class="page">

    <header class="header page__header">
        <div class="container header__container">
            <a href="/" class="logo header__logo">
                <img class="logo__img" src="/img/logo.svg" alt="Notes">
            </a>

            <div class="header__settings settings">
                <div class="settings__btn">
                    <div class="settings__btn-text">
                        <span class="settings__btn-username"><%= username %></span>
                        <span class="settings__btn-user-id">ID: <%= id %></span>
                    </div>
                    <i class="icon icon--cog-outline settings__btn-icon"></i>
                </div>
                <ul class="settings__list">
                    <li class="settings__list-item">
                        <div class="settings__list-btn" role="button" data-modal-id="password-modal">
                            <i class="settings__list-icon icon icon--key-outline"></i>
                            <span class="settings__list-text">Change password</span>
                        </div>
                    </li>
                    <li class="settings__list-item">
                        <div class="settings__list-btn logout-btn" role="button">
                            <i class="settings__list-icon icon icon--lock"></i>
                            <span class="settings__list-text">Logout</span>
                        </div>
                    </li>
                    <li class="settings__list-item">
                        <div class="settings__list-btn settings__list-btn--danger delete-profile-btn" role="button">
                            <i class="settings__list-icon icon icon--trash"></i>
                            <span class="settings__list-text">Delete profile</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </header><!--header-->

    <main class="main page__main">
        <div class="container main__container">

            <h1 class="page-title text-center">My Notes</h1>

            <div class="notes">

                <% if(notes.length > 0) { %>
                    <% notes.forEach(note => { %>
                        <article class="note notes__item" data-note-id="<%= note._id %>">

                            <header class="note__header">
                                <div class="note__date">
                                    <span>Created:</span>
                                    <time datetime="<%= note.createdAt %>" class="note__date">
                                        <%= new Date (Date.parse(note.createdAt)).toLocaleString() %>
                                    </time>
                                </div>
                                <div class="note__completed checkbox">
                                    <label class="checkbox__label">
                                        <input class="checkbox__item" type="checkbox" name="completed" <%= note.completed && 'checked' %>>
                                        <span class="checkbox__switch"></span>
                                        <span class="checkbox__text">Completed</span>
                                    </label>
                                </div>
                            </header><!-- note header -->

                            <div class="note__body">

                                <div class="form note__form">
                                    <div class="form__group">
                                        <label class="form__row">
                                            <textarea class="form__text-control text-control text-control--area note-text" name="text"><%= note.text %></textarea>
                                        </label>
                                    </div>
                                    <div class="form__footer">
                                        <div class="control-bar control-bar--layout--1 form__control-bar">
                                            <button class="btn btn--style--default control-bar__btn save-note">
                                                <i class="btn__icon icon icon--ok"></i>
                                                <span class="btn__text">Update</span>
                                            </button>
                                            <button class="btn btn--style--outline control-bar__btn delete-note">
                                                <i class="btn__icon icon icon--trash"></i>
                                                <span class="btn__text">Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </div><!-- form -->

                            </div><!-- note body-->
                        </article><!-- note -->
                    <% }) %>
                <% } else { %>
                    <h3 class="text-center">There is no notes to display</h3>
                <% } %>

            </div><!-- notes -->

            <div class="text-center">
                <button class="btn btn--size--big btn--style--default" data-modal-id="createNote-modal">Create Note</button>
            </div>

        </div><!--container-->
    </main><!--main-->

    <%- include('./partials/footer.ejs') %>
</div>
<%- include('./partials/modalCreateNote.ejs') %>
<%- include('./partials/modalPasswordChange.ejs') %>
<script src="/main.js"></script>
</body>
</html>