<footer class="footer page__footer">
    <div class="container footer__container">
        <a href="/" class="logo footer__logo">
            <img class="logo__img" src="/img/logo.svg" alt="Notes">
        </a>
        <div class="footer__copy">
            It's all ours! &copy; 2022
        </div>
    </div>
</footer><!--footer-->