<article class="modal" id="login-modal">
    <section class="modal__main">

        <div class="modal__header">
            <h3 class="modal__title">Login</h3>
            <i class="modal__close icon icon--cancel" data-modal-close="true"></i>
        </div><!--modal header-->

        <div class="modal__body">
            <form class="form modal__form" id="login-form">
                <div class="form__group">
                    <label class="form__row">
                        <input class="form__text-control text-control" type="text" name="username" placeholder="Login">
                    </label>
                    <label class="form__row">
                        <input class="form__text-control text-control" type="password" name="password" placeholder="Password">
                    </label>
                </div>
                <div class="form__footer">
                    <div class="control-bar form__control-bar control-bar--layout--1">
                        <button class="btn btn--style--default control-bar__btn" type="submit">
                            Login
                        </button>
                        <button class="btn btn--style--outline control-bar__btn" type="button" data-modal-close="true">
                            Cancel
                        </button>
                    </div>
                </div>
            </form><!--form-->
        </div><!--modal body-->

    </section><!--modal main-->
</article><!--modal-->