<article class="modal" id="password-modal">
    <section class="modal__main">

        <div class="modal__header">
            <h3 class="modal__title">Change password</h3>
            <i class="modal__close icon icon--cancel" data-modal-close="true"></i>
        </div><!--modal header-->

        <div class="modal__body">
            <form method="post" class="form modal__form" id="password-form">
                <div class="form__group">
                    <label class="form__row">
                        <input class="form__text-control text-control" type="password" name="oldPassword" placeholder="Old password">
                    </label>
                    <label class="form__row">
                        <input class="form__text-control text-control" type="password" name="newPassword" placeholder="New password">
                    </label>
                </div>
                <div class="form__footer">
                    <div class="control-bar form__control-bar control-bar--layout--1">
                        <button class="btn btn--style--default control-bar__btn" type="submit">
                            Ok
                        </button>
                        <button class="btn btn--style--outline control-bar__btn" type="button" data-modal-close="true">
                            Cancel
                        </button>
                    </div>
                </div>
            </form><!--form-->

        </div><!--modal body-->
    </section><!--modal main-->
</article><!--modal-->